body,ul,li,a,h1,h2,h3.h4,h5,h6{
	margin: 0;
	padding: 0;
}
/* header-section */
.navbar-brand.logo {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 30px;
}
.navbar-nav.nav-design {
	margin-left: 60px;
	text-transform: capitalize;
}