body,ul,li,a,h1,h2,h3.h4,h5,h6{
	margin: 0;
	padding: 0;
}
/* header-section */
.navbar-brand.logo {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 30px;
}
.navbar-nav.nav-design {
	margin-left: 60px;
	text-transform: capitalize;
}
/* about-daimond */
.about-daimond {
	padding: 50px 0;
}
.left-content {
	padding-bottom: 30px;
}
.left-image img {
	width: 100%;
	box-shadow: 0px 0px 6px #151414;
}
.right-image img {
	width: 100%;
	box-shadow: 0px 0px 6px #151414;
}
.left-text {
	box-shadow: 0px 0px 6px #151414;
	padding: 53px 40px;
}
.left-text h2 {
	font-weight: bold;
}
.left-text p {
	text-align: justify;
	padding-top: 10px;
}
.right-text{
	box-shadow: 0px 0px 6px #151414;
	padding: 53px 40px;
	text-align: justify;
}
.right-text h2 {
	font-weight: bold;
}
.right-text p {
	text-align: justify;
	padding-top: 10px;
}